<div id="app">
  <!--页头组件-->
  <header id="AppHeader">
    <div class="page-width">
      <a href="/" class="page-logo">
        <h1 style='color: black;'>
         MyApp
        </h1>
      </a>
    </div>
  </header>
</div>
<%= yield %>
