#app {
  overflow: hidden;
}

#AppHeader {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 61px;
  left: 0;
  top:0;
  z-index: var(--layer-one);
  transition: background-color 0.2s;
}

#AppHeader .page-width {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#AppHeader .page-logo h1 {
  font-family: 'Noto Sans Bold', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#AppHeader .page-logo span {
  color: #000
}
